<div class="container">

	<div class="row">
		<form class="form-horizontal" name="searchForm" novalidate
			ng-submit="search()">
			<fieldset>
				<!-- Form Name -->
				<legend>
					<h3 class="text-primary">Search By Location</h3>
				</legend>
				<div class="col-md-7 appt-list">

					<div class="col-sm-4 input-group">
						<input type="text" ng-model="searchPlace" id="value"
							class="form-control input-xs" googleplace
							address1=user.addressLine1 address2=user.addressLine2
							city=user.city state=user.state country=user.country
							zip=user.postalCode latitude=user.latitude
							longitude=user.longitude placeholder="Enter address" /> <span
							class="input-group-btn">
							<button class="btn btn-xs btn-primary"
								ng-disabled="searchForm.$invalid">Search</button>
						</span>
					</div>
					<div id="map"></div>
				</div>
				<div class="col-md-4 appt-list">
					<div class="col-sm-4 input-group"></div>
					<div class="udc-address">
						<p class="lato-regular">
							<a href="#">User1</a>
						</p>
						<p>
							<span class="lato-semibold">Address: </span>abc, # FF 312, Ground
							Floor, Abc Appartments, 2B Block, Bangalore, Karnataka, India -
							560078<br>
							<span class="lato-semibold">Contact: </span>123456789<br>
							<span class="lato-semibold">Email: </span> test@abc.com<br>
							<span class="lato-semibold">Near By: </span> 5 km
						</p>
					</div>
					<div class="udc-address">
						<p class="lato-regular">
							<a href="#">User2</a>
						</p>
						<p>
							<span class="lato-semibold">Address: </span>abc, # FF 312, Ground
							Floor, Abc Appartments, 2B Block, Bangalore, Karnataka, India -
							560078<br>
							<span class="lato-semibold">Contact: </span>123456789<br>
							<span class="lato-semibold">Email: </span> test@abc.com<br>
							<span class="lato-semibold">Near By: </span> 10 km
						</p>
					</div>
					<div class="udc-address">
						<p class="lato-regular">
							<a href="#">User3</a>
						</p>
						<p>
							<span class="lato-semibold">Address: </span>abc, # FF 312, Ground
							Floor, Abc Appartments, 2B Block, Bangalore, Karnataka, India -
							560078<br>
							<span class="lato-semibold">Contact: </span>123456789<br>
							<span class="lato-semibold">Email: </span> test@abc.com<br>
							<span class="lato-semibold">Near By: </span> 12 km
						</p>
					</div>
				</div>
			</fieldset>
		</form>
	</div>