<div class="container">

	<div class="row">
		<div class="col-md-12 appt-list">
			<form class="form-horizontal" name="searchForm" novalidate
				ng-submit="search()">
				<fieldset>
					<!-- Form Name -->
					<legend>
						<h3 class="text-primary">Search By Location</h3>
					</legend>
					<div class="col-sm-4 input-group">
						<input type="text" ng-model="searchPlace" id="value"
							class="form-control input-xs" googleplace
							address1=user.addressLine1 
								address2=user.addressLine2
								city=user.city 
								state=user.state 
								country=user.country
								zip=user.postalCode
								latitude=user.latitude
								longitude=user.longitude
							placeholder="Enter address" /> <span class="input-group-btn">
							<button class="btn btn-xs btn-primary"
								ng-disabled="searchForm.$invalid">Search</button>
						</span>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<div id="map"></div>
						</div>
						<div class="form-group col-md-6">
							<div>dfsdf</div>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		
		
		
	</div>
</div>