
<div class="container">

	<div class="row">
		<div class="col-md-12 appt-list">

			<fieldset>

				<!-- Form Name -->
				<legend>
					<h3 class="text-primary">Profile Details</h3>
				</legend>
				<!-- Admin Content -->
    <div class="inner-content">
    	
          
        <!-- Content Main Container -->
        <div class="content-main-container">
        	
        	<!-- User Info -->
        	<div class="content-box profile-user-info">
        		
        	
	            <!-- Row -->
	        	<div class="row">
	        		
	        		<!-- User Photo -->
	        		<div class="col-sm-2">
	        			<div ><img src="../images/400x200.png" class="user"></div>
	        		</div>
	        		<!-- /User Photo -->
	        		
	        		<!-- User Details Column -->
	        		<div class="col-sm-10">
	        			
	        			<!-- User Details Container -->
	        			<div class="user-details-container">
	        				<h4>Test User</h4>
	        				<h6>Lives in - Bangalore</h6>
	        				<div class="ud-details">
	        					<p><span class="lato-semibold">Email:</span> test@abc.com</p>
	        					<p><span class="lato-semibold">Contact:</span> +91 - 123456789</p>
	        					<p><span class="lato-semibold">Created date:</span> 10 / 10 / 2017</p>
	        				</div>
	        				<div class="ud-links">
	        					<span class="udl-l">
		        					<a href="#">Edit Profile</a>
		        					<a href="#">Change Photo</a>
	        					</span>
	        				</div>
	        			</div>
	        			<!-- /User Details Container -->
	        			
					</div>
					<!-- /User Details Column -->
					
	            </div>
	            <!-- /Row -->
            
            </div>
            <!-- /User Info -->
        	
        	<!-- Location & Address -->
        	<div class="content-box profile-user-store-details">
        	
	            <!-- Row -->
	        	<div class="row">
	        		
	        		<!-- User Photo -->
	        		<div class="col-sm-7">
	        			<div class="ui-location-map"><div id="map"></div></div>
	        		</div>
	        		<!-- /User Photo -->
	        		
	        		<!-- User Details Column -->
	        		<div class="col-sm-5">
	        			
	        			<!-- User Details Container -->
	        			<div class="user-details-container">
	        				<h3>Address</h3>
	        				<!-- Address -->
	        				<div class="udc-address">
	        					<p class="margin-bottom-15"><span class="lato-semibold">Address: </span>abc, # FF 312, Ground Floor, Abc Appartments, 2B Block, Bangalore, Karnataka, India - 560078</p>
	        					<p>
	        						<span class="lato-semibold">Contact: </span>123456789<br>
	        						<span class="lato-semibold">Email: </span>: test@abc.com
	        					</p>
	        					<p class="lato-regular"><a href="#">Edit</a></p>
	        				</div>
	        				<!-- /Address -->
	        			</div>
	        			<!-- /User Details Container -->
	        			
					</div>
					<!-- /Location & Address -->
					
	            </div>
	            <!-- /Row -->
            
            </div>
            <!-- /User Info -->
        
        </div>
        <!-- /Content Main Container -->
        
        
        
    </div>
			</fieldset>
		</div>
	</div>
</div>