
<div class="container">
  <div class="row">
    <div class="col-md-12 appt-list">

      <fieldset>

        <!-- Form Name -->
        <legend>
          <h3 class="text-primary">Available Users</h3>
        </legend>
        <div class="col-md-4 col-md-offset-8" >
          <div>
            <input ng-model="searchText"
                   class="form-control"
                   placeholder="Search" />
          </div>
        </div>
        <div class = "container-fluid">
          <br />
          <br />
          <table class = "table table-responsive-xs table-bordered table-condensed table-striped table-hover">
            <thead class="thead-light">
            <tr>
              <th>User ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Address</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>

      </fieldset>
    </div>
  </div>
</div>

